<%= form_for(user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.select :role, User.roles.keys.to_a, {prompt: '-- Select role'} %>
  </div>

  <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
          $(function () {
              $(".sector input[type='checkbox']").change(function () {
                  $(this).siblings('.subsectors')
                      .find("input[type='checkbox']")
                      .prop('checked', this.checked);
              });
          });
      });

  </script>

  <div>
      <%= f.collection_check_boxes :sector_ids, Sector.parent_only, :id, :name, checked: user.sector_ids do |sector| %>
          <div id="sector-id-<%= sector.value %>" style="margin: 10px 0;">
            <div class="sector" style="font-weight: bold; display: inline;"><%= sector.check_box %> <%= sector.label %>
              <div class="subsectors" style="display: inline;">
                  <%= f.collection_check_boxes :sector_ids, sector.object.subsectors, :id, :name, checked: user.sector_ids do |subsector| %>
                      <%= subsector.check_box %>
                      <%= subsector.label %>
                  <% end %>
              </div>
            </div>
          </div>
      <% end %>
  </div>

  <%= f.submit %>

<% end %>
