<%= form_for(user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.select :role, User.roles.keys.to_a, {prompt: '-- Select role'} %>
  </div>

  <div>
    <%= f.fields_for :sectors_users, user.sectors_users.build do |ff| %>
      <%= ff.collection_check_boxes :sector_id, Sector.all, :id, :name, checked: user.sector_ids %>
    <% end %>
  </div>

  <div>

    <%#= collection_check_boxes(:subsectors, :ids, Sector.child_only, :id, :name, checked: user.sector_ids) do |subsector| %>
    <%#= subsector.label(class: "label-checkbox", id: "parent-id-#{subsector.object.parent_sector&.id}") {subsector.check_box + subsector.text} %>
    <%# end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
