<!DOCTYPE html>
<html>
  <head>
    <title>NestedSectors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            /* Activating Best In Place */
            jQuery(".best_in_place").best_in_place();
        });
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
